* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #751c19;
    background: url(https://images.pexels.com/photos/1587/blurred-background.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

img {
    width: 200px;
    height: 200px;
}

h1, h2, h3, p {
    margin-bottom: 10;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: 700;
    color: #1e4d99;
}

h1 {
   font-size: 30px;
   line-height: 49px;
   border-bottom: 3px solid #ddd;
   padding-bottom: 20px;
}

h2, h3 {
    font-size: 22px;
}

html, body {
    height: 100%;
    margin: 10;
    padding: 5px;
}

footer {
    text-align: center;
    background: #ddd;
}

.container {
    margin: 10px;
    padding: 5px;
    text-align: center;
}